<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/users/<%=`${user._id}`%>?_method=PUT" method="post">
        <div>
            <label for="firstName"> Firstname </label>
            <input type="text" id="firstName" name="firstName" value="<%= `${user.firstName}` %>">
        </div>
        <div>
            <label for="lastName"> Lastname </label>
            <input type="text" id="lastName" name="lastName" value="<%= `${user.lastName}` %>">
        </div>
        <div>
            <label for="email"> Email </label>
            <input type="email" id="email" name="email" value="<%= `${user.email}` %>">
        </div>
        <div>
            <label for="age"> Age </label>
            <input type="number" id="age" name="age" value="<%= `${user.age}` %>">
        </div>

        <button>Save</button>
    </form>
    <a href="/users/<%= user._id%>"> Back </a>
</body>

</html>